.khoi1 {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/explorer.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .text1 {
  margin: 0;
  padding: 15% 0% 20% 5%;
  line-height: 0.5;
  font-size: 22px;
  color:white;
}
  